/* HTML 1 */
.container {
    background: lightsalmon;
    border: 3px solid black;
    border-radius: 10px;
    
    /* Grid */
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 1fr 1fr;
    
    /* Hijos */
    div {
        background: lightblue;
        border: 2px solid #09f;
        border-radius: 6px;
    }
}

section:not(.container) {
    
    /* Grid */
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(100px, 1fr)
    );
    /* grid-column-gap: 16px; */
    gap: 16px;

    img {
        width: 100%;
        height: auto;
        border-radius: 8%;
    }
}

/* HTML 2 */
.container {
    background: lightsalmon;
    border: 3px solid black;
    border-radius: 10px;
    
    /* Grid */
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 1fr 1fr;
    gap: 6px;
    
    /* Hijos */
    div {
        background: lightblue;
        border: 2px solid #09f;
        border-radius: 6px;

        &:first-child{
            background-color: green;
            border: 2px solid green;
            grid-column: 2 / 4;
            grid-row: 2 / 3;
        }
        &:nth-child(2){
            background-color: lightseagreen;
            border: 2px solid blue;
            grid-column: 1 / 2;
        }
    }
}